In [2]:
#to use pandas profiling for first anaylsis 
! pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

Collecting https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Using cached https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: scipy<1.12,>=1.4.1 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (1.10.1)
Requirement already satisfied: pandas!=1.4.0,<2.1,>1.1 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (1.5.3)
Requirement already satisfied: matplotlib<=3.7.3,>=3.2 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (3.7.1)
Requirement already satisfied: pydantic>=2 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (2.2.0)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (3.1.2)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (0.7.5)
Requirement already satisfied: numpy<1.26,>=1.16.0 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (1.24.3)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (0.12.3)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (2.27.1)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (4.65.0)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (0.12.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (1.10)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (0.14.0)
Requirement already satisfied: typeguard<5,>=4.1.2 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (4.1.5)
Requirement already satisfied: imagehash==4.3.1 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.1 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (1.9.2)
Requirement already satisfied: dacite>=1.8 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (1.8.1)
Requirement already satisfied: numba<0.59.0,>=0.56.0 in c:\users\hp\anaconda_update\lib\site-packages (from ydata-profiling==0.0.dev0) (0.57.0)
Requirement already satisfied: PyWavelets in c:\users\hp\anaconda_update\lib\site-packages (from imagehash==4.3.1->ydata-profiling==0.0.dev0) (1.4.1)
Requirement already satisfied: pillow in c:\users\hp\anaconda_update\lib\site-packages (from imagehash==4.3.1->ydata-profiling==0.0.dev0) (9.4.0)
Requirement already satisfied: attrs>=19.3.0 in c:\users\hp\anaconda_update\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (22.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\hp\anaconda_update\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (3.1)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\users\hp\anaconda_update\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (0.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\hp\anaconda_update\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling==0.0.dev0) (2.1.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\anaconda_update\lib\site-packages (from matplotlib<=3.7.3,>=3.2->ydata-profiling==0.0.dev0) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda_update\lib\site-packages (from matplotlib<=3.7.3,>=3.2->ydata-profiling==0.0.dev0) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda_update\lib\site-packages (from matplotlib<=3.7.3,>=3.2->ydata-profiling==0.0.dev0) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\anaconda_update\lib\site-packages (from matplotlib<=3.7.3,>=3.2->ydata-profiling==0.0.dev0) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\roaming\python\python311\site-packages (from matplotlib<=3.7.3,>=3.2->ydata-profiling==0.0.dev0) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\anaconda_update\lib\site-packages (from matplotlib<=3.7.3,>=3.2->ydata-profiling==0.0.dev0) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\appdata\roaming\python\python311\site-packages (from matplotlib<=3.7.3,>=3.2->ydata-profiling==0.0.dev0) (2.8.2)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in c:\users\hp\anaconda_update\lib\site-packages (from numba<0.59.0,>=0.56.0->ydata-profiling==0.0.dev0) (0.40.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda_update\lib\site-packages (from pandas!=1.4.0,<2.1,>1.1->ydata-profiling==0.0.dev0) (2022.7)
Requirement already satisfied: joblib>=0.14.1 in c:\users\hp\anaconda_update\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling==0.0.dev0) (1.1.1)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\hp\anaconda_update\lib\site-packages (from pydantic>=2->ydata-profiling==0.0.dev0) (0.5.0)
Requirement already satisfied: pydantic-core==2.6.0 in c:\users\hp\anaconda_update\lib\site-packages (from pydantic>=2->ydata-profiling==0.0.dev0) (2.6.0)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\hp\anaconda_update\lib\site-packages (from pydantic>=2->ydata-profiling==0.0.dev0) (4.7.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\hp\anaconda_update\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling==0.0.dev0) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda_update\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling==0.0.dev0) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\hp\anaconda_update\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling==0.0.dev0) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda_update\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling==0.0.dev0) (3.3)
Requirement already satisfied: patsy>=0.5.2 in c:\users\hp\anaconda_update\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling==0.0.dev0) (0.5.3)
Requirement already satisfied: colorama in c:\users\hp\appdata\roaming\python\python311\site-packages (from tqdm<5,>=4.48.2->ydata-profiling==0.0.dev0) (0.4.6)
Requirement already satisfied: six in c:\users\hp\appdata\roaming\python\python311\site-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata-profiling==0.0.dev0) (1.16.0)

In [7]:
#import needed libraries 
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [11]:
# Load the data
file_path = r'C:\Data Science\Final_HR_Project\Final_HR_Project\Final_HR_Project\data\raw\HR-Employee-Attrition.csv'
df = pd.read_csv(file_path)

In [12]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [14]:
null_values = df.isnull().sum()
null_values

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [16]:
# Remove duplicates
df_cleaned = df.drop_duplicates()
df_cleaned

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [18]:
# Drop the "EmployeeCount" column
df_final = df_cleaned.drop(columns=["EmployeeCount"])

# Save the DataFrame to a new CSV file without the "EmployeeCount" column
df_final.to_csv(r'C:\Data Science\Final_HR_Project\Final_HR_Project\Final_HR_Project\data\processed\HR-Employee-Attrition-Cleaned.csv', index=False)

In [26]:
# Ques_1 : Distribution of age among the employees
age_distribution = df_final['Age'].describe()
age_distribution

count    1470.000000
mean       36.923810
std         9.135373
min        18.000000
25%        30.000000
50%        36.000000
75%        43.000000
max        60.000000
Name: Age, dtype: float64

In [30]:
# Qes _2 : Attrition rates across different departments
attrition_by_department = df_final.groupby('Department')['Attrition'].value_counts(normalize=True)
attrition_by_department

Department              Attrition
Human Resources         No           0.809524
                        Yes          0.190476
Research & Development  No           0.861602
                        Yes          0.138398
Sales                   No           0.793722
                        Yes          0.206278
Name: Attrition, dtype: float64

In [31]:
# Qes _3 : Average monthly income per job role
average_income_by_role = df_final.groupby('JobRole')['MonthlyIncome'].mean().sort_values()
average_income_by_role

JobRole
Sales Representative          2626.000000
Laboratory Technician         3237.169884
Research Scientist            3239.972603
Human Resources               4235.750000
Sales Executive               6924.279141
Manufacturing Director        7295.137931
Healthcare Representative     7528.763359
Research Director            16033.550000
Manager                      17181.676471
Name: MonthlyIncome, dtype: float64

In [34]:
# Qes 4 : Impact between Job Level and Monthly Income:
correlation_joblevel_income = df_final['JobLevel'].corr(df['MonthlyIncome'])
correlation_joblevel_income

0.950299913479846

In [35]:
# Qes 5 : Impact between Years at Company and Years Since Last Promotion:
correlation_years_company_promotion = df_final['YearsAtCompany'].corr(df['YearsSinceLastPromotion'])
correlation_years_company_promotion

0.6184088652176047